[submodule "thirdparty/sdsl-lite"]
	path = thirdparty/sdsl-lite
	url = git@github.com:simongog/sdsl-lite.git
[submodule "thirdparty/bloom"]
	path = thirdparty/bloom
	url = git@github.com:ArashPartow/bloom.git
